<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gyx.museum">


    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 显示顶层浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen_Welcome"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--图像识别-->
        <activity
            android:name="com.opencv.wsl.ImgRecognitionActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".ui.activity.ModelWebActivity"></activity>

        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.LoginActivity2"></activity>
        <activity android:name=".ui.activity.RegisterActivity"></activity>
        <activity android:name=".ui.activity.ForgetPassActivity"></activity>
        <activity android:name=".ui.activity.ZxingActivity"></activity>
        <activity android:name="com.google.zxing.activity.CaptureActivity"></activity>
        <activity android:name=".ui.activity.PicActivity"></activity>
        <activity android:name=".ui.activity.MuseumClassifyActivity"></activity>
        <activity android:name=".ui.activity.ImagePagerActivity"></activity>
        <activity android:name=".ui.activity.GcDetailsActivity"></activity>
        <activity android:name=".ui.activity.BwgIntroduceActivity"></activity>
        <activity android:name=".ui.activity.VisitInfoActivity"></activity>
        <activity android:name=".ui.activity.BwgViewpagerActivity"></activity>
        <activity android:name=".ui.activity.BwgExhibition"></activity>
        <activity android:name=".ui.activity.GcListActivity"></activity>
        <activity android:name=".ui.activity.HdListActivity"></activity>
        <activity android:name=".ui.activity.ZldetailsActivity"></activity>
        <activity android:name=".ui.activity.MxWenwuActivity"></activity>
        <activity android:name=".ui.activity.MyCollectActivity"></activity>
        <activity android:name=".ui.activity.MySysSetActivity"></activity>
        <activity android:name=".ui.activity.MyBindPhoneActivity"></activity>
        <activity android:name=".ui.activity.MyUpdatePassActivity"></activity>
        <activity android:name=".ui.activity.TyhdArActivity"></activity>
        <activity android:name=".ui.activity.GcDetailsPagerActivity"></activity>
        <service android:name=".service.DataService" />
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1bd8a2f43e48358a0000ce" >
        </meta-data>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent111111" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            />
    </application>

</manifest>